body{
    padding-left: 0px;
    margin: auto;
}

#container{
    position: absolute;
    background-color: lightblue;
    width: 100vw;
    height: 5000px;
    overflow: hidden;
}

#soil{
    position: absolute;
    background-color: #3d2401;
    bottom: 0;
    width: 100%;
    height: 250px;
}

#flower{
    background-image: url(sunflower.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 4500px;
    position: absolute;
    bottom: -3680;
    left: 27vw;
    animation: go-man-go 2s forwards;
    animation-play-state: paused; 
}


#flower:active {
    cursor: wait;
    animation: go-man-go 2s forwards;
    animation-play-state: play; 
  }
  
  @keyframes go-man-go {
      from {
          transform: translateY(0px);
      }
      to {
        transform: translateY(-4580px);
      }
  }